* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

.top-navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    font-family: 'viga', sans-serif;
    font-weight: bold;
    align-items: center;
    box-shadow: 1px 0 5px rgba(18, 209, 136, 0.125);
}

.top-navbar .input-group form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.top-navbar .brand {
    width: 480px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 0 25px;
    color: #0c9463;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.top-navbar .menu {
    width: calc(100% - 50px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 25px;
}

.top-navbar .profile-wrap {
    padding-left: 20px;
    border-left: 1px solid #f5f5f5;
}

.top-navbar .profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.top-navbar .menu .logout {
    margin: 0 15px;

}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: 100%;
    background: #0c9463;
}

.sidebar ul li a {
    list-style: none;
    text-decoration: none;
    display: block;
    padding: 12px 25px;
    color: #1ea876;
    border-bottom: 1px solid #1ea876;
    transition: all 0.2s ease;
}

.sidebar ul li a .icon {
    font-size: 18px;
    vertical-align: middle;
}

.sidebar ul li a .text {
    margin-left: 10px;
    font-family: 'viga', sans-serif;
    color: #fff;
    letter-spacing: 0.5px;
    text-transform: uppercase;

}

.sidebar ul li a:hover {
    background: #1ea876;
    color: #fff;
}

/* .nav-link:hover {
    background-color: #0c9463;
    border-radius: 4px;
} */

.main-container {
    margin-top: 23px;
    margin-left: 250px;
    padding: 25px;
    width: calc(100% - 250px);
}

.main-container .judul-content {
    border-radius: 2px;
    background: #fff;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
    font-family: 'viga', sans-serif;
    color: #0c9463;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: justify;
    border-left: 2px solid #0c9463;
}

.main-container .content {
    border-radius: 2px;
    background: #fff;
    padding: 25px;
    margin-right: 45px;
    font-family: 'Time New Roman', sans-serif;
    margin-bottom: 10px;
    text-align: justify;
    padding-bottom: 10px;
    border-left: 2px solid #0c9463;
}

.main-container .content img {
    width: 50px;
    height: 50px;
    background: #f5f5f5;
}


.cari {
    margin-left: 225px;
    width: 100%;
    background: #fff;
    padding: 25px;
    font-family: 'Time New Roman', sans-serif;
    text-align: justify;
    padding-bottom: 10px;
    border-left: 2px solid #0c9463;
}

.main-container button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    background: #0c9463;
    border: 0;

}


.main-container button:hover {
    color: #fff;
}

.main-container .content .tabel {
    background: #fff;
    color: #fff;
}

.main-container .content .input {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.display-4 {
    font-weight: bold;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    right: 4px;
    top: 25px;
    opacity: 0.5;
    font-size: 90px;
}

.tombol-simpan {
    background: #0c9463;
    border-color: #0c9463;
    color: #fff;
}

.tombol-simpan:hover {
    background: #1ea876;
}