* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.top-navbar {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  display: flex;
  font-family: "viga", sans-serif;
  font-weight: bold;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.03),
    0 2px 4px rgba(0, 0, 0, 0.03);
}

.top-navbar button {
  background: #0c9463;
  color: #fff;
  border-color: #0c9463;
}

.top-navbar button:hover {
  background: #1ea876;
  color: #fff;
  border-color: #0c9463;
}

.top-navbar a .logout {
  background: #0c9463;
  color: #fff;
  border-color: #0c9463;
}

.top-navbar .input-group .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  border-width: 0 2px 0 0;
  border-color: #fff;
}

.top-navbar .brand {
  width: 465px;
  /* margin-right: 30px; */
  font-size: 20px;
  font-weight: 800;
  padding: 0 25px;
  color: #0c9463;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  /* border-right: 1px solid #f5f5f5; */
}

.top-navbar .menu {
  width: calc(100% - 50px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
}

.top-navbar .profile-wrap {
  padding-left: 20px;
  border-left: 1px solid #f5f5f5;
}

.top-navbar .profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.top-navbar .menu .logout {
  margin: 0 15px;
}

.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 280px;
  height: 100%;
  background: #0c9463;
}

.sidebar ul li a {
  list-style: none;
  text-decoration: none;
  display: block;
  padding: 12px 25px;
  color: #1ea876;
  border-bottom: 1px solid #1ea876;
  transition: all 0.2s ease;
}

.sidebar ul li a i {
  font-size: 15px;
  margin-right: 3px;
  width: 15px;
  height: auto;
}

.sidebar ul li a .text {
  margin-left: 10px;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.sidebar ul li a:hover {
  background: #1ea876;
  color: #fff;
}

.main-container {
  margin-top: 30px;
  margin-left: 250px;
  padding: 25px;
  width: calc(100% - 250px);
}

.main-container .judul-content {
  border-radius: 4px;
  background: #fff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 45px;
  color: #0c9463;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: justify;
  /* border-left: 2px solid #0c9463; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.05),
    0 3px 7px rgba(0, 0, 0, 0.05);
}

.main-container .judul-content .pilih-lowongan {
  width: 300px;
}

.main-container .judul-content .btn {
  background: #0c9463;
  color: #fff;
  border-color: #0c9463;
  font-weight: bold;
  /* z-index: 666; */
}

.main-container .judul-content .btn:hover {
  background: #1ea876;
  color: #fff;
  border-color: #1ea876;
}

.main-container .content .tombol-lamar {
  background: #0c9463;
  color: #fff;
  border-color: #0c9463;
  /* z-index: 666; */
}

.main-container .content .tombol-lamar:hover {
  background: #1ea876;
  color: #fff;
  border-color: #1ea876;
}

.main-container .content {
  border-radius: 4px;
  background: #fff;
  padding: 25px;
  margin-right: 45px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: justify;
  padding-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.05),
    0 3px 7px rgba(0, 0, 0, 0.05);
}

.main-container .content img {
  width: 100%;
  height: auto;
  background: #f5f5f5;
}

.main-container .content .foto_pelamar {
  width: 80px;
  height: 80px;
  background: #f5f5f5;
}

.main-container .content .logo_perusahaan {
  width: 150px;
  height: auto;
  background: #f5f5f5;
}

.main-container .content button {
  /* display: flex; */
  align-items: center;
  border-radius: 5px;
  color: #fff;
  background: #0c9463;
  border: 0;
  margin-top: 5px;
}

.main-container button:hover {
  color: #fff;
  background-color: #1ea876;
}

/* .main-container .content .tabel {
    border: 0;
    border-color: #0c9463;
    background: #0c9463;
    color: #fff;
} */
.main-container .profil-user i {
  margin-right: 10px;
  opacity: 50%;
  padding: 5px;
  width: 30px;
  height: auto;
}

.main-container .profil-user .i {
  margin-right: 10px;
  opacity: 0;
  padding: 5px;
  width: 30px;
  height: auto;
}

.main-container .cari-lowongan i {
  margin-right: 10px;
  opacity: 50%;
  padding: 5px;
  width: 30px;
  height: auto;
}

.main-container .content ul li i {
  margin-right: 10px;
  opacity: 50%;
  padding: 5px;
  width: 30px;
  height: auto;
}

.main-container .content .input {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.main-container .content .input-logo {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  font-weight: 400;
  width: calc(30em + 4rem + 2px);
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.main-container .content .tombol-penilaian {
  background: #0c9463;
  color: #fff;
  border: 0;
}

.main-container .content .tombol-penilaian:hover {
  background: #1ea876;
  color: #fff;
  border: 0;
}

.main-container .content .tombol-pengumuman {
  background: #0c9463;
  color: #fff;
  border-color: #0c9463;
}

.main-container .content .tombol-pengumuman:hover {
  background: #1ea876;
  color: #fff;
  border-color: #1ea876;
}

.display-4 {
  font-weight: bold;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  right: 4px;
  top: 25px;
  opacity: 0.5;
  font-size: 90px;
}

.main-container .content .lowongan {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0 0 0 0;
}

.main-container .tampil-lowongan img {
  width: auto;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.main-container .tampil-lowongan .btn {
  background-color: #0c9463;
  border-color: #0c9463;
  color: white;
}

.main-container .tampil-lowongan .card {
  margin-bottom: 10px;
  margin-top: 15px;
  position: sticky;
  max-height: 500px;
  text-align: left;
}

.main-container .tampil-lowongan h6 {
  color: #0c9463;
  text-transform: capitalize;
}
.main-container .tampil-lowongan .card-title {
  text-transform: capitalize;
  font-weight: 700;
  color: #0c9463;
  font-size: 14px;
}
.main-container .tampil-lowongan p {
  text-transform: capitalize;
  font-size: 13px;
}

.main-container .tampil-lowongan ul {
  font-size: 10px;
  margin-bottom: 5px;
}

.main-container .tampil-lowongan i {
  text-transform: capitalize;
  font-size: 15px;
  margin-right: 10px;
  width: 15px;
  height: auto;
}

.main-container .tampil-lowongan li {
  margin-bottom: 1px;
}

.main-container .tampil-lowongan ul li {
  font-size: 14px;
}

.tombol-lamar {
  background: #0c9463;
  border-color: #0c9463;
}

.tombol-lamar:hover {
  background-color: #1ea876;
  border-color: #1ea876;
}
